@use "../../sass/colors.scss";
@use "../../sass/fonts.scss";

.search-section {
  width: 100%;
  min-width: 20%;
  display: flex;
  align-items: center;

  .search {
    border-radius: 30px;
    // margin: 0 0 0 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    width: 100%;
    height: 3.5rem;
    min-width: 20%;
    outline: 0;
    border: none;
    background-color: colors.$secondary-color;
    color: colors.$font-tertiary;
  }

  .search:hover,
  .search:active {
    background-color: #e5e5e5;
    color: #111;
  }
}
