@use "../../sass/fonts.scss";
@use "../../sass/colors.scss";

.greatness-section {
  margin: 5rem auto 3rem auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  color: colors.$font-primary;

  .part1 {
    text-align: center;

    p {
      text-transform: capitalize;
      font-family: fonts.$secondary-font;
      font-weight: 500;
    }
    h1 {
      padding: 1rem 0 2rem 0;
      text-transform: uppercase;
      font-family: fonts.$quarternary-font;
      font-weight: 1000;
      font-size: 5rem;
      letter-spacing: -3px;
      line-height: 0.8;
    }
  }

  .part2 {
    text-align: center;
    font-family: fonts.$primary-font;

    p {
      line-height: 1;
    }

    p:nth-child(1) {
      text-transform: capitalize;
    }
  }
  .part2 > * {
    padding: 0.2rem 0;
  }

  .button {
    text-align: center;

    button {
      margin-top: 1rem;
      padding: 0.75rem 2rem;
      border-radius: 30px;
      background-color: colors.$font-primary;
      color: colors.$primary-color;
      border: 2px solid colors.$font-primary;
      outline: none;
      text-transform: uppercase;
      font-family: fonts.$primary-font;
      font-weight: 600;
      transition: 0.3s;
    }
    button:hover {
      background-color: transparent;
      border: 2px solid colors.$font-primary;
      color: colors.$font-primary;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1025px) {
  .greatness-section {
    .part1 {
      text-align: center;

      h1 {
        font-size: 4.5rem;
      }
    }
  }
}

@media only screen and (max-width: 769px) {
  .greatness-section {
    margin: 4rem auto 2rem auto;
    width: 90%;

    .part1 {
      text-align: center;

      h1 {
        font-size: 4rem;
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .greatness-section {
    .part1 {
      text-align: center;

      h1 {
        font-size: 3rem;
      }
    }
  }
}

@media only screen and (max-width: 376px) {
  .greatness-section {
    width: 90%;

    .part1 {
      text-align: center;

      h1 {
        font-size: 2.5rem;
      }
    }
  }
}
